  <div class="background-image">
    <div class="container">
      <div class="row row-weather">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="City" aria-label="city" aria-describedby="button-addon2"
            [(ngModel)]="name">
          <button class="btn btn-search btn-outline-secondary" type="button" id="button-addon2" (click)="getWeatherInRealTime()"><i
              class="fa-solid fa-magnifying-glass" style="color: #FFFF;"></i></button>
        </div>
          <div class="weather-card" *ngIf="weatherData?.location && weatherData?.current">
            <!-- Título da cidade -->
            <h2>{{weatherData.location.name}}</h2>
            <p>{{weatherData.location.localtime}}</p>
        
            <!-- Corpo do card -->
            <div class="weather-body">
              <!-- Ícone do clima -->
              <div class="weather-icon">
                <i class="fa-solid fa-sun"></i> <!-- Ícone do clima -->
              </div>
        
              <div class="temp-row">
                <!-- Temperatura -->
                <div class="temperature">
                  <h3>{{weatherData.current.temp_c}}°C</h3> 
                </div>

                <div class="temperature">
                  <h3>|</h3>
                </div>

                <div class="temperature">
                  <h3>{{weatherData.current.temp_f}}°F</h3> 
                </div>
              </div>
        
              <!-- Descrição do clima -->
              <div class="weather-description">
                <p>{{weatherData.current.condition.text}}</p> <!-- Descrição do clima -->
              </div>
            </div>
        
            <!-- Informações adicionais: Umidade, Vento, Pressão e Chuva -->
            <div class="weather-info">
              <div class="humidity">
                <i class="fa-solid fa-droplet"></i> <!-- Ícone de umidade -->
                <span>humidity</span>
                <span>{{weatherData.current.humidity}}%</span> 
              </div>
              <div>
                <i class="fa-solid fa-wind"></i> <!-- Ícone de vento -->
                <span>Wind</span>
                <span>{{weatherData.current.wind_kph}} km/h</span> 
                <span>{{weatherData.current.wind_mph}} mph</span> 
              </div>
              <div>
                <i class="fa-solid fa-tachometer-alt"></i> <!-- Ícone de pressão -->
                <span>Pressure</span>
                <span>{{weatherData.current.pressure_mb}} mb</span> 
                <span>{{weatherData.current.pressure_in}} in</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
  